html{
    background-image: url("../images/bg.png");
    overflow: auto;
}

section{
    display: inline-block;
    position: absolute;
    width: 30%;
    left:60%;
    margin:7%;
}
#tabs{
}
input{
    display: inline-block;
    position: relative;
    left:10%;
    height:25px;
    margin-bottom: 20px;
    border: #9f9ba8 solid 1px;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding-left:15px;
}
label{
    position: relative;
    display: block;
    left:10%;
    margin-bottom: 5px;
}
#name{
    display: inline;
    width: 40%;
}
#last-name{
    width: 40%;
}
#submit{
    position: relative;
    display: inline;
    left: 0px;
    padding:0px;
    margin: 0%;
}
#alert{
    position: absolute;
    left: 101%;
    display: inline;
    width: -moz-min-content;
}
#gif{
    display: inline;
    position: absolute;
    left: 101%;
}
#div_submit{
    width: -moz-min-content;
    position: relative;
    left: 10%;
    height:25px;
}
#mail{
    width: 60%;
}
#mail1{
    width: 60%;
}

#server{
    display: inline-block;
    position: relative;
    height:25px;
    left:10%;
    margin-bottom: 20px;
    border: #9f9ba8 solid 1px;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding-left:15px;
}
#summoner{
    position: relative;
    left: 10%;
    width: -moz-min-content;
    height: 25px;
    margin-bottom: 20px;
}
#login{
    left:0px;
    position: relative;
    display: inline;
    margin: -1px;

}
#server-log{
    position: absolute;
    border: hidden;
    background: #dddddd;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    right:0px;
    height: 25px;
    text-align: center;
}

#passwordTool{
    position: relative;
    margin-top: 0%;
    margin-bottom: 30px;
    font-size: small;
    left:10%;
    text-decoration: underline;
    color: #5b5b5b;
    cursor: pointer;
}
#tool{
    display: inline-block;
    position: absolute;
    left:35%;
}
.less{
display: none;
}
.more{
    display: block;
}
#pass{
    margin-bottom: 0%;
    display: block;
}
.check{
    position: relative;
    background-color: #dfd9dd;
    border: #7a727d solid 1px;
    border-radius: 7px;
    display: inline-block;
    left:15%;
    padding: 2px;
}

#runesPage{
    display: inline-block;
    position: relative;
    left:1%;
    right: 1%;
    margin-bottom: 20px;
    border: #9f9ba8 solid 1px;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding-left:15px;
}
#imgWarning{
    display: inline;
    position: relative;
    width:10%;
    height: 10%;
    top:10%;
}
#textWarning{
    display: inline-block;
    position: relative;
    width: 86%;
    text-align: justify;
}